{% extends "videostream/latest.html" %}

{% load i18n %}
{% load pagination_tags %}

{% block head_title %}{% blocktrans %}Your Videos{% endblocktrans %}{% endblock %}

{% block body %}
<h1>{% trans "Your Videos" %}</h1>

{% if latest %}
{% autopaginate latest %}
<div class="Listing">
    {% for video in latest %}
    <hr/>
    <div class="{% cycle 'odd' 'even' %}">
        <h2><a href="{{ video.get_absolute_url }}">{{ video.title }}</a></h2>
        <a href="{{ video.get_absolute_url }}"><img class="fright" src="{{ video.thumbnail.url }}" /></a><br/>
        <small class="byline"><a href="{% url profile_detail video.author.username %}">{{ video.author }}</a>&nbsp;-&nbsp;{{ video.pub_date|date:"d M Y" }}</small>
        <p>{{ video.description }}</p>
        <p><a href="{{ video.get_absolute_url }}">View now...</a></p>
    </div>
    {% endfor %}
</div>
{% paginate %}
{% else %}
<p>Sorry, there are no video entries at this time</p>
{% endif %}
{% endblock %}
