{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
    <h1>{% trans "Welcome to the Oppian Lab" %}</h1>
    
    <p>
        {% blocktrans %}
        <b>Oppian Labs</b> is a place where <a href="http://dev.oppian.com/">Oppian Systems Ltd</a> and its partner
        <a href="http://tomsawyereffect.wordpress.com/">Tom Sawyer Effect</a> are experimenting with social networking.
        {% endblocktrans %}
    </p>
    
    <h2>{% trans "About this project" %}</h2>
    
    <p>
        {% blocktrans %}
        This project is to investigate new ways to interact and engage with consumers to get 
        them more integrated into the product creation, marketing and advertising.

        On this site, a number of social networking features are used: 
        profiles, friends, photos, blogs, tribes, wikis, tweets, bookmarks,
        swaps, locations and user-to-user messaging.
        {% endblocktrans %}
    </p>
    
    <hr />
    
    {% if user.is_authenticated %}
        {% url what_next as what_next_url %}
        <p class="what_next">{% blocktrans %}Wondering <a href="{{ what_next_url }}">What Next</a>?{% endblocktrans %}</p>
    {% else %}
        {% url acct_login as login_url %}
        {% ifsetting ACCOUNT_OPEN_SIGNUP %}
            {% url acct_signup as signup_url %}
            <p>{% blocktrans %}You can <a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">Log in</a> to try out the site.{% endblocktrans %}</p>
        {% else %}
            <p>{% blocktrans %}You can <a href="{{ login_url }}">Log in</a> to try out the site.{% endblocktrans %}</p>
        {% endifsetting %}
    {% endif %}
    
{% endblock %}
