{% extends "site_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block tab_id %}id="home_tab"{% endblock %}

{% block body %}
    <h1>{% trans "Welcome to the Co-Lab" %}</h1>
    
    <p>
        {% blocktrans %}
        The <b>Co-Lab</b> is a place where <a href="http://www.oppian.com/">Oppian Systems Ltd</a>,
        <a href="http://tomsawyereffect.wordpress.com/">Tom Sawyer Effect</a> 
        and <a href="http://hellounity.com/">Unity</a>
        are experimenting with social networking.
        {% endblocktrans %}
    </p>
    
    <h2>{% trans "About this project" %}</h2>
    
    <p>
        This project is to investigate new ways to interact and engage with consumers to get 
        them more integrated into the product creation, marketing and advertising.

        On this site, a number of social networking features are used: 
        <a href="{% url profile_detail user %}">profiles</a>, 
        friends, 
        <a href="{% url photos %}">photos</a>, 
        <a href="{% url blog_list_all %}">blogs</a>, 
        <a href="{% url tribe_list %}">tribes</a>, 
        wikis, 
        <a href="{% url tweets_you_follow %}">tweets</a>, 
        <a href="{% url all_bookmarks %}">bookmarks</a>,
        <a href="{% url loc_yours %}">locations</a> and 
        user-to-user messaging.
    </p>
    
    <hr />
    
    {% if user.is_authenticated %}
        {% url what_next as what_next_url %}
        <p class="what_next">{% blocktrans %}Wondering <a href="{{ what_next_url }}">What Next</a>?{% endblocktrans %}</p>
    {% else %}
        {% url acct_login as login_url %}
        {% ifsetting ACCOUNT_OPEN_SIGNUP %}
            {% url acct_signup as signup_url %}
            <p>{% blocktrans %}You can <a href="{{ signup_url }}">Sign up</a> and <a href="{{ login_url }}">Log in</a> to try out the site.{% endblocktrans %}</p>
        {% else %}
            <p>{% blocktrans %}You can <a href="{{ login_url }}">Log in</a> to try out the site.{% endblocktrans %}</p>
        {% endifsetting %}
    {% endif %}
    
{% endblock %}
